.box{
    /* width: 1440px; */
    /* height: 540px; */
    position: fixed;
    top: 30vh;
    bottom: 15vh;
    left: 5vw;
    right: 5vw;
    width: 90vw;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #424242 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 50px #000000;
    margin-top: 40px;
    border-radius: 12px;
}

.uploadFileContent{
    color: white;
    font: normal normal normal 25px/30px Product Sans;
    font-weight: 400;
    margin: 0px;
}

.inputFile{
    display: none;
}

.icon{
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .box{
        top: 25vh;
        bottom: 10vh;
        left: 5vw;
        right: 5vw;
        width: 90vw;
        height: 65vh;
    }
    .uploadFileContent{
        font-size: 20px;
    }
    .iconc{
        font-size: 50px!important;
    }
}
@media (max-width: 400px) {
    .uploadFileContent{
        font-size: 15px;
    }
    .iconc{
        font-size: 40px!important;
    }
}