.writeablog{
    display: block;
    min-height: 100vh;
    width: 100vw;
    background-color: #2e2e2e;
    overflow: hidden;
}
.writeablog h1{
    display: block;
    text-align: center;
    font: normal normal normal 40px Product Sans;
    letter-spacing: 0px;    
    color: #FFFFFF;
    opacity: 1;
}
.writeablog form{
    display: block;
    margin: auto;
    width: 90%;
}

.writeablog form div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.writeablog form div>input{
    /* margin: 0!important; */
    /* padding: 0!important; */
    border: none;
    outline: none;
    display: block;
    width: 47.5%;
    padding-left: 20px;
    background: #797979 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 34px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 24px Product Sans;
    letter-spacing: 0px;
    color: #C5C5C5;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    /* backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); */
}

.writeablog form span{
    display: grid;
    grid-template-columns: 68% 28%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.writeablog form span>input{
    /* margin: 0!important; */
    /* padding: 0!important; */
    border: none;
    outline: none;
    display: block;
    width: 100%;
    padding-left: 20px;
    /* margin-left: 0; */
    background: #797979 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 34px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 24px Product Sans;
    letter-spacing: 0px;
    color: #C5C5C5;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    /* backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px); */
}

.file{
    padding-left: 0!important;
    padding-bottom: 0!important;
    margin-bottom: 0!important;
    margin-top: 0!important;
}

.writeablog form input::placeholder{
    color: #C5C5C5;
}
.writeablog form textarea{
    display: block;
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
    padding: 0!important;
    border: none;
    outline: none;
    background: #797979 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
/* backdrop-filter: blur(30px);
-webkit-backdrop-filter: blur(30px); */
}

.writeablog button{
    width: 30%;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    height: 34px;
    margin-top: 5px;
    font: normal normal normal 23px Product Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}