.hereyouare{
    /* flex: 0.3; */
    /* max-height: 90%!important; */
    display: block!important;
    /* margin: 10% 0%!important; */
    padding-bottom: 10vh!important;
    width: 100%;
    min-height: 100vh;
    background-color: #2e2e2e;
    z-index: -1;
}

.hereyouare h2{
    display: block;
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

/* .hereyouare h3{
    font-size: 17px;
    font-weight: normal;
color: #FFFFFF;

margin-bottom: 10px;
margin-top: 0px;
} */

.hereyouare button{
    display: block !important ; 
    margin: auto !important;
    margin-bottom: 20px !important;
}

.hereyouare input{
    display: block !important;
    margin: auto !important ;
    margin-bottom: 20px !important;
}

.input{
    display: block!important;
    margin: auto!important;
}

/* .hereyouare h2,
.hereyouare h3
{
    margin-left: -20px!important;
} */

.hereyouare p{
    color: white;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lowerp{
    /* margin-left: -20px;  */
    color: #707070!important;
    font-size: 13px;
    margin: auto!important;
    margin-top: 30px!important;
    /* padding-right: 40px!important; */
}

.closeicon{
    fill: #FFFFFF;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.closeicon:hover,
.closeicon:active{
    opacity: 0.6;
}

@media (max-width: 1190px) {
    .hereyouare button{
        font-size: 15px!important;
    }
}

@media(max-width:1090px){

}

@media (max-width: 680px) {
    .hereyouare button{
        font-size: 13px!important;
    }
    .hereyouare h2{
        width: 70%;
        display: block;
        margin: auto;
        margin-left: auto!important;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .hereyouare button{
        font-size: 12px;
        font-weight: bold;
    }
    .hereyouare h2{
        width: 85%;
    }
}