.body{
    background-color: #2e2e2e;
    min-height:100vh;
    width: 100%;
}

.body h1{
    color: white;
    font-family: Product Sans;
    margin: 0px;
    padding-top: 100px;
    padding-bottom: 80px;
    font-size: 40px;
    margin-left: 150px;
    font-weight: 600;
}

.body h2{
    color: white;
    font-family: Product Sans;
    margin: 0px;
    padding-top: 50px;
    font-size: 20px;
    margin-left: 150px;
    font-weight: 600;
    margin-right: 40px;
}

.body p{
    color: white;
    font-family: Product Sans;
    margin: 0px;
    padding-top: 50px;
    font-size: 20px;
    margin-left: 150px;
    font-weight: 400;
    margin-right: 40px;
}

.body h3{
    color: white;
    font-family: Product Sans;
    margin: 0px;
    padding-top: 50px;
    font-size: 30px;
    margin-left: 150px;
    font-weight: 600;
    margin-right: 40px;
}

.body li{
    color: white;
    font-family: Product Sans;
    margin: 0px;
    padding-top: 50px;
    font-size: 20px;
    margin-left: 200px;
    text-decoration: none;
   list-style: none;
    font-weight: 400;
    margin-right: 40px;
}


@media(max-width:770px){

    .body h1{
        margin-left: 50px;
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 50px;
    }
    
    .body h2{
        margin-left: 50px;
        font-size: 15px;
        padding-top: 20px;
    }
    
    .body p{
        margin-left: 50px;
        font-size: 15px;
        padding-top: 20px;
    }
    
    .body h3{
        margin-left: 50px;
        font-size: 20px;
        padding-top: 20px;
    }
    
    .body li{
        margin-left: 50px;
        font-size: 15px;
        padding-top: 20px;
    }

}


@media(max-width: 450px){

    .body h1{
        margin-left: 20px;
    }
    
    .body h2{
        margin-left: 20px;
    }
    
    .body p{
        margin-left: 20px;
    }
    
    .body h3{
        margin-left: 20px;
    }
    
    .body li{
        margin-left: 20px;
    }


}