.checkotpkaregistervia{
    flex: 0.2;
    /* border-right: 2px solid white; */
    height:90%!important;
    max-height: 90%!important;
    display: flex!important;
    flex-direction: column!important;
    /* justify-content: space-evenly!important; */
    align-items: flex-start;
   
}

.checkotpkaregistervia h3{
    font-size: 17px;
    font-weight: normal;
color: #FFFFFF;
/* margin-left: 50px; */
margin-bottom: 0px;
margin-top: 0px;
text-align: left;
opacity: 0;
}

.checkotpkaregistervia section{
    display: flex;
    /* margin-top: 15px; */
}

.checkotpkaregistervia section span:nth-child(1){
    opacity: 0;
    background: url('../../assets/google-logo-circle.png') no-repeat center center/cover;
    display: block;
    height: 45px;
    width: 45px;
    /* cursor: pointer;
    transition: all ease 0.5s; */
}
/* .checkotpkaregistervia section span:nth-child(1):hover{
    opacity: 0.6;
} */
.checkotpkaregistervia section span:nth-child(2){
    opacity: 0;
    background: url('../../assets/fb-logo-circle.png') no-repeat center center/cover;
    display: block;
    height: 45px;
    width: 45px;
    /* margin-left: 20px; */
    /* cursor: pointer;
    transition: all ease 0.5s; */
}
/* .checkotpkaregistervia section span:nth-child(2):hover{
    opacity: 0.6;
} */
.checkotpkaregistervia section span:nth-child(3){
    opacity: 0;
    background: url('../../assets/apple-logo-circle.png') no-repeat center center/cover;
    display: block;
    height: 45px;
    width: 45px;
    /* margin-left: 20px; */
    /* cursor: pointer; */
    /* transition: all ease 0.5s; */
}
/* .checkotpkaregistervia section span:nth-child(3):hover{
    opacity: 0.6;
} */

.checkotpkaregistervia section div{
    width: 0;
    /* height: 430px; */
    /* border-right: 2px solid white; */
    /* margin-left: 50px; */
    /* margin-bottom: 250px; */
}

.checkotpkaregistervia p{
    color: #A6A6A6;
    font-size: 14px;
    margin-left: -45px;
    margin-top: 323px;
    /* margin-bottom: 0; */
}

.checkotpkaregistervia a{
    color: #0099FF;
    text-decoration: none;
    font-size: 14px;
    margin-left: -45px;
    /* top: 200px; */
    margin-top: -8px;
    /* margin-top: 10px!important; */
    /* margin-bottom: 10px; */
}

.red{
    border-color: red;
}

.green{
    border-color: lawngreen;
}

@media (max-width: 1310px) {
    .checkotpkaregistervia p{
        /* margin-left: -50px; */
    }
    .checkotpkaregistervia p{
        display: none;
    }

    .checkotpkaregistervia{
        flex: 0.1!important;
        display: none !important;
    }
}
@media (max-width: 1290px) {
    .checkotpkaregistervia p{
        margin-top: -80px!important;
    }
}

@media (max-width: 1240px) {
    .checkotpkaregistervia p{
        margin-top: -80px!important;
    }
}

@media (max-width: 1200px) {
    .checkotpkaregistervia p{
        margin-top: -79px!important;
    }
}

@media (max-width: 1130px) {
    .checkotpkaregistervia p{
        margin-left: 0px!important;
    }
    .checkotpkaregistervia a{
        margin-left: 0px!important;
    }
}

@media (max-width: 1090px) {
    .checkotpkaregistervia p{
        margin-top: -80px!important;
    }
}

@media (max-width: 1077px) {
    .checkotpkaregistervia p,
    .checkotpkaregistervia a
    {
        display: none;
    }
    .checkotpkaregistervia{
        flex: 0.1!important;
    }
    .checkotpkaregistervia section div{
        margin-top: -40px;
        margin-left: -165px;
    }
}

@media (max-width: 1000px) {
    .checkotpkaregistervia section div{
        margin-left: -165px;
    }
}
@media (max-width: 900px) {
    .checkotpkaregistervia section div{
        margin-left: -165px;
    }
}
@media (max-width: 800px) {
    .checkotpkaregistervia section div{
        display: none;
    }
    .checkotpkaregistervia{
        display: none;
        /* position: static; */
    }
}