.webinarmyscreen{
    background: transparent url('../HomePage/img6.jpg') no-repeat center center/cover;
    box-shadow: 0px 0px 20px #000000;
    border-radius: 15px;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 50vw;
    height: 350px;
    margin: auto;
    /* padding-top: 50px; */
}

.webinarmyscreen section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 20%;
    margin-bottom: 15px;

}

.webinarmyscreen span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.8;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    height: 40px;
    width: 40px;
    
}

.webinarmyscreen button{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.8;
    backdrop-filter: blur(16px);
    border: none;
    outline: none;
    -webkit-backdrop-filter: blur(16px);
    text-align: center;
    font: normal normal normal 20px Product Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    width: 20%;
    height: 40px;
    margin-right: 3%;
    margin-bottom: 15px;
}

.icon{
    font-size: 24px;
    color: white;
}